body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fdfcf9;
}

i{
  font-family: 'fontAwesome';
}

.iphone-view {
  height: 667px;
  width: 375px;
  margin: 50px 300px;
  border: 10px solid #ddd;
  border-radius: 5px;
}

