.mobile-size{
	width: 375px;
}

#logo-small{
	width: 19px;
	height: 23px;
	background: url("../public/assets/logo-small.png") no-repeat;
	float: left;
	margin-left: 13px;
	margin-top: 13px;
}

#menu-categories{
	-webkit-padding-start: 15px;
}

#menu-categories li{
	display: inline-block;
	padding: 0 14px;
}

#menu-categories li.selected{
	color: #251511;
	font-weight: bold;
}
.menu-items{
	background: #fff;
	line-height: 2.5;
	color: #39393a;
	font-size: 16px;
}

#entrees li{

	list-style-type: none;
}
