#nav{
	background: #fff;


}

.mobile-size{
	box-shadow: 0 1px 1px 0 rgba(215, 215, 215, 0.5);
	width: 375px;
}

#logo-small{
	width: 19px;
	height: 23px;
	background: url("../public/assets/logo-small.png") no-repeat;
	float: left;
	margin-left: 13px;
	margin-top: 13px;
}

#bar-name{
	color: #fff;
	text-align: center;
	font-size: 18px;
}

#search-bar{
	width: 319px;
	height: 30px;
	background-color: #ffffff;
	position: relative;
	left: 46px;
	top: 12px;
	font-size: 13px;
	color: #9b9b9b;
}

i{
	font-family: 'fontAwesome';
}

.nav-item{
	display: inline-block;
	color: 39393a;
	width:49%;
	text-align: center;
	height: 30px;
}

.nav-item.selected{
	color: #251511;
	font-weight: bold;
}

#menu-categories{
	-webkit-padding-start: 15px;
}

#menu-categories li{
	display: inline-block;
	padding: 0 14px;
}

#menu-categories li.selected{
	color: #251511;
	font-weight: bold;
}
.menu-items{
	background: #fff;
	line-height: 2.5;
	color: #39393a;
	font-size: 16px;
}

#entrees li{

	list-style-type: none;
}
