.search-bar{
    width: 319px;
    height: 30px;
    background-color: #ffffff;
    left: 46px;
    top: 12px;
    font-size: 18px;
    color: #9b9b9b;
}

.nav {
    background: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(215, 215, 215, 0.5);
}

.nav-item{
    display: inline-block;
    color: #39393a;
    width: 49%;
    text-align: center;
    height: 30px;
    padding-top: 9px;
}

.nav-item.selected{
    color: #251511;
    font-weight: bold;
}

.nav-item.selected::after{
    content: "";
    width: 107px;
    height: 3px;
    background-color: #251511;
    display: block;
    margin: 0 auto;
}

.bar-name {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.bubbles{
    margin-left: 13px;
    margin-top: 13px;
    display: inline-block;

}

.search{
    display: inline-block;
    position: relative;
    top: -9px;
    left: 7px;
}

.search .fa-search{
    color: #9b9b9b;
    position: absolute;
    left: 10px;
    top: 5px;
}